@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset some default styles */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Manier';
}

.text-serif {
  font-family: 'Serif';
}

/* Flex container to center content */
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  text-align: center;
}

.bg-dark-green {
  background-color: #1A2A24;
}

.bg-light-green {
  background-color: #3D5A4C;
}

.bg-beige {
  background-color: #F3F2E0;
}

.text-dark-green {
  color: #1A2A24;
}

.text-beige {
  color: #F3F2E0;
}

.text-peach {
  color: #F5B895;
}

.border-beige {
  border: 1px solid #F3F2E0;
  border-color: #F3F2E0;
}

.content h1 {
  font-size: 3rem;
  font-weight: 700; /* Bold font */
  margin: 0;
  padding: 0;
}

.content h2 {
  font-size: 1.5rem;
  font-weight: 300; /* Light font */
  margin: 0;
  padding: 0;
}
